body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1E1E1E;
  color: #ffffff;
}

.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: absolute;
  width: 95%;
  top: 0;
  z-index: 1000;
  background: transparent; /* Transparent background */
}

.nav-logo img {
  display: flex;
  height: 70px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #00C4FF; /* Hover color */
}

.nav-buttons {
  display: flex;
  gap: 15px;
}

.login-button,
.get-started-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover {
  background-color: #00C4FF;
  color: white;
}

.get-started-button {
  background-color: #ffffff;
  color: #000000;
}

.get-started-button:hover {
  background-color: #00C4FF;
  color: white;
}

.hero-section {
  background: linear-gradient(90deg, rgba(36, 36, 36, 1) 0%, rgba(58, 0, 107, 1) 100%);
  padding: 150px 20px 50px; /* Increased padding to accommodate the nav */
  color: white;
  text-align: left; /* Align text to the left */
  padding-left: 10%; /* Adjust to position the text slightly left */
}

.hero-text {
  font-size: 4em;
  font-weight: bold;
}

.hero-text-line1 {
  display: block;
  font-size: 1.5em;
}

.hero-text-line2 {
  display: block;
  font-size: 1.5em;
  margin-left: 50px; /* Adjust the second line slightly to the left */
}

.stats {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
}

.stats span {
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 10px;
}

.cta-buttons {
  margin-top: 30px;
}

.cta-button {
  background-color: #00C4FF;
  color: #000;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.2em;
  cursor: pointer;
}

.services-section {
  background-color: #f4f4f4;
  padding: 50px 20px;
  color: #000;
}

.services-section h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
}

.services-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.service-item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.download-section {
  background-color: #E0E0E0;
  padding: 50px 20px;
}

.download-section h2 {
  color: #000;
  font-size: 2.5em;
}

.download-button {
  background-color: #4A90E2;
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 1.5em;
  cursor: pointer;
}

.footer {
  background-color: #000000;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 1.2em;
}
